{% extends 'head.html' %}


{% block body %}

<img id = "logo" src = "../static/rally_cat_cupboard.png"></img>
<h1 class = "title">Inventory Tracker</h1>


<nav class="navbar">
    <!-- Fix all urls -->
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">Inventory</a>
            <a href="/add">Add</a>
        </div>
    </div>
</nav>



<label for="site-search">Search the site:</label>
<input type="search" id="site-search" name="q" />

<button>Search</button>

<table>
    <tr>
        <th>Name</th>
        <th>Category</th>
        <th>quantity</th>
        <th>dietary restriction</th>
        <th>allergens</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{item.itemName}}  <button class = "plus" id ="+">+</button><button class = "minus" id = "-">-</button></td>
        <td>{{item.category}} </td>
        <td>{{item.quantity}} </td>
        <td>
            {% if item.kosher == 1 %}
                kosher <br>
            {% endif %}
            {% if item.hallal == 1 %}
                hallal <br>
            {% endif %}
            {% if item.vegeterian == 1 %}
                vegetarian <br>
            {%endif%}
            {% if item.vegan == 1 %}
                vegan <br>
            {% endif %}
            {% if item.gf == 1 %}
                gluten-free <br>
            {% endif %}
        </td>
        <td>
            {% if item.eggs == 1 %}
            eggs <br>
            {% elif item.fish == 1%}
            fish <br>
            {%elif item.soy == 1%}
            soy<br>
            {%elif item.treenuts == 1%}
            treenuts <br>
            {%elif items.shellfish == 1%}
            shellfish <br>
            {%else%}
            ⚫ <br>
            {%endif%}
        </td>
    </tr>
    {% endfor %}
</table>



{% endblock %}

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>-->





