{% extends 'head.html' %}


{% block body %}
<nav class="navbar">
    <!-- Fix all urls -->
    <a href="/">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Menu
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="http://127.0.0.1:5000/info">Inventory</a>
            <a href="/add">Add</a>
        </div>
    </div>
</nav>

<h1>Rally Cat’s Cupboard inventory tracker</h1>

{% endblock %}

<!--<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>-->





