<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inventory tracker</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<div class="navbar">
    <!-- Fix all urls -->
    <a href="http://127.0.0.1:5000">Home</a>
    <a href="http://127.0.0.1:5000">View</a>
    <a href="http://127.0.0.1:5000">Table</a>

   
</div>

<img class = "csdept" alt="Web Logo" src="../../hkuzma-akapla11-cjones37-ljmayo-wpherrer-Food_Pantry_System/assets/download.png">

<h1>Rally Cat’s Cupboard inventory tracker</h1>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="static/script.js"></script>
</body>
</html>
